---
import Header from './Header.astro';
import Footer from './Footer.astro';
import '../styles/global.css';
const { title = "TeraBox Technology" } = Astro.props;
---

<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <!-- <link rel="stylesheet" href="/src/styles/global.css" /> -->
</head>
<body>
    <Header />
    
    <slot />   <!-- Nội dung của từng trang sẽ được chèn vào đây -->

    <Footer />
</body>
</html>